{% extends "layoutCPS-NEW-INDEX.html" %}
{% block header %}
    {% include "../includes/banner-V3.html" %}
{% endblock %}
{% block beforeContent %}

{% endblock %}
{% block content %}

<div id="image-wrapper" class="A-Dashboard">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full-width" id="dashboard">
            <span class="govuk-caption-l">CPS - New world</span>
            <h1 class="govuk-heading-l">My dashboard</h1>
            <p>Please select an application from the software list below, if you cannot find a specific item then please make sure you have been granted the relevant access.</p>
            <div class="wrapper">

                <!-- SECTION - ONE - START -->
                <a href="https://www.figma.com/proto/DaTT38fhdtqoGXduKi2Igd/Demo-Screens?page-id=1380%3A16551&type=design&node-id=8714-4320&viewport=-7624%2C-6040%2C0.15&t=AiMdCBFUKK76zNhN-1&scaling=min-zoom&starting-point-node-id=8714%3A4320" class="one">
                    <h2 class="govuk-heading-s">Review my tasks</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tempor nulla quis est iaculis, sit amet sollicitudin velit lobortis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
                    </p>
                    <p class="link">Launch application</p>
                </a>
                <!-- SECTION - ONE - END -->

                <!-- SECTION - TWO - START -->
                <a href="F-casework-app" class="two">
                    <h2 class="govuk-heading-s">Review/Redact a case</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tempor nulla quis est iaculis, sit amet sollicitudin velit lobortis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
                    </p>
                    <p class="link">Launch application</p>
                </a>
                <!-- SECTION - TWO - END -->

                <!-- SECTION - THREE - START -->
                <a href="./G-case-materials/B-case-materials" class="three">
                    <h2 class="govuk-heading-s">Case materials</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tempor nulla quis est iaculis, sit amet sollicitudin velit lobortis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
                    </p>
                    <p class="link">Launch application</p>
                </a>
                <!-- SECTION - THREE - END -->

                <!-- SECTION - FOUR - START -->
                <a href="D-my-cases" class="four">
                    <h2 class="govuk-heading-s">My Case list</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tempor nulla quis est iaculis, sit amet sollicitudin velit lobortis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
                    </p>
                    <p class="link">Launch application</p>
                </a>
                <!-- SECTION - FOUR - END -->

                <!-- SECTION - FIVE - START -->
                <a href="I-CMS-Classic" class="five" target="_blank">
                    <h2 class="govuk-heading-s">CMS Classic</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tempor nulla quis est iaculis, sit amet sollicitudin velit lobortis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
                    </p>
                    <p class="link">Launch application</p>
                </a>
                <!-- SECTION - FIVE - END -->

                <!-- SECTION - SIX - START -->
                <a href="J-CMS-Modern" class="six" target="_blank">
                    <h2 class="govuk-heading-s">CMS Modern</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tempor nulla quis est iaculis, sit amet sollicitudin velit lobortis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
                    </p>
                    <p class="link">Launch application</p>
                </a>
                <!-- SECTION - SIX - END -->


            </div>
        </div>
    </div>
</div>

{% endblock %}