{% extends "layoutCPS-NEW-INDEX.html" %}
{% block header %}
    {% include "../includes/banner-V3.html" %}
{% endblock %}
{% block beforeContent %}

{% endblock %}
{% block content %}

<div id="image-wrapper" class="D-my-cases">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">My cases</h1>
            <div class="wrapper">
                <a href="E-case-overview">
                    <img src="../../../public/images/cps-concept/D-my-cases.jpg" alt="My Cases" class="cps-concept-image">
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}