{% extends "layoutCPS-NEW-INDEX.html" %}
{% block header %}
    {% include "../includes/banner-V3.html" %}
{% endblock %}
{% block beforeContent %}

{% endblock %}
{% block content %}

<div id="image-wrapper" class="C-my-tasks">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">My tasks</h1>
            <div class="wrapper">
                <a href="#">
                    <img src="../../../public/images/cps-concept/C-Tasks.jpg" alt="My tasks" class="cps-concept-image">
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}