{% set apprenticeships = [{
	value: "274",
	name: "ASSURANCE LTD",
	level: 2,
	standard: true
},
{
	value: "34",
	name: "ASSURANCE ACCOUNTANCY LTD",
	level: 2,
	standard: true
},
{
	value: "272",
	name: "ASSURANCE BUSINESS CONSULTANCY LIMITED",
	level: 7,
	standard: true
},
{
	value: "176",
	name: "ASSURANCE CARE SERVICES LIMITED",
	level: 3,
	standard: true
},
{
	value: "204",
	name: "ASSURANCE CONSULTING LIMITED",
	level: 7,
	standard: true
},
{
	value: "454-20-1",
	name: "ASSURANCE DEVELOPMENTS LIMITED",
	level: 4
},
{
	value: "454-3-1",
	name: "ASSURANCE FINANCIAL SOLUTIONS LTD",
	level: 2
},
{
	value: "454-2-1",
	name: "ASSURANCE GAS & PLUMBING SERVICES LTD",
	level: 3
},
{
	value: "460-3-3",
	name: "ASSURANCE HEALTHCARE LTD",
	level: 2
},
{
	value: "460-3-2",
	name: "ASSURANCE HOMES LIMITED",
	level: 2
},
{
	value: "460-3-4",
	name: "ASSURANCE HOUSING LTD",
	level: 2
},
{
	value: "460-3-1",
	name: "ASSURANCE HUMAN FACTORS LIMITED",
	level: 2
},
{
	value: "17",
	name: "ASSURANCE INNOVATION LTD",
	level: 4,
	standard: true
},
{
	value: "255",
	name: "ASSURANCE NURSING & EMPLOYMENT AGENCY LTD",
	level: 7,
	standard: true
},
{
	value: "119",
	name: "ASSURANCE OF LEARNING LIMITED",
	level: 2,
	standard: true
},
{
	value: "271",
	name: "ASSURANCE PROGRAMME SOLUTIONS LIMITED",
	level: 3,
	standard: true
},
{
	value: "152",
	name: "ASSURANCE PUBLICATIONS LIMITED",
	level: 3,
	standard: true
},
{
	value: "240",
	name: "ASSURANCE RECRUITMENT AGENCY LIMITED",
	level: 3,
	standard: true
},
{
	value: "252",
	name: "ASSURANCE RESOURCES LIMITED",
	level: 7,
	standard: true
},
{
	value: "148",
	name: "ASSURANCE SECURITY SERVICES LIMITED",
	level: 3,
	standard: true
},
{
	value: "149",
	name: "ASSURANCES GENERALES DE FRANCE I.A.R.T.",
	level: 5,
	standard: true
},
{
	value: "111",
	name: "ASSURANCE SOFTWARE LIMITED",
	level: 5,
	standard: true
},
{
	value: "111",
	name: "ASSURANCES SECURITY SERVICES LTD",
	level: 5,
	standard: true
},
{
	value: "111",
	name: "ASSURANCE TECHNOLOGY LIMITED",
	level: 5,
	standard: true
},
{
	value: "111",
	name: "ASSURANCE TRADING LIMITED",
	level: 5,
	standard: true
},
{
	value: "111",
	name: "ASSURANCE UNIVERSELLE COURTIERS LTD",
	level: 5,
	standard: true
},
{
	value: "111",
	name: "ASSURANCE PARTNERSHIP FIRST SERVICES LIMITED",
	level: 5,
	standard: true
},
{
	value: "447-2-1",
	name: "Youth Work: Youth Work",
	level: 3
}]
%}