
{% extends "layout.html" %}
{% block pageTitle %}
    CPS  - Housekeeping and Casework App
{% endblock %}
{% block content %}

<style>

</style>

<div class="">
</div>
<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
        <div class="govuk-grid-row">
                <div class=" govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">End to end journey<br /><span class="govuk-hint">Updated 22 Nov 2019</span></h1>
            <p><a href="https://das-epao-fireitup.herokuapp.com">EPAO Fire It Up </a></p>
            <p><a href="/version-15/find">FAT</a></p>
            <p><a href="/version-19/EPAOReserve">Reserve funding</a></p>
            <p><a href="/version-19/EPAO/epaoandcost">Add apprentices</a></p>
            <p><a href="/version-19/apprentices/manage">Reserve funding</a></p>
                <p><a href="/version-19/finance/transactions">Employer transactions</a></p>
            <p><a href="/version-19/provider">Version 19 Provider</a><span class="govuk-hint">Has a hybrid journey between proposed and exisitng</span></p>
            <p><a href="/version-19/apprentices/reviewApprove/davidJenkins">Version 19 Employer review and approve one apprentice</a></p>

                        <p><a href="/version-19/EPAOApprovals">EPAO requests in</a></p>
                         <p><a href="/version-19/EPAOApprovals/EPAOPipeline/ticks">EPAO pipline and changes view</a></p>
                          <p><a href="/version-19/EPAOPay">EPAO claim a payment</a></p>
                           <p><a href="/version-19/EPAOPay">Record an assessment</a><span class="govuk-hint">Needs updating so just for unfunded apprentices?</span></p>
                            <p><a href="/version-19/EPAOTransactions">EPAO transactions</a></p>
                            <p><a href="/version-19/EPAOOrganisations">EPAO payment details (on tab)</a></p>

            <hr style="margin:25px 0 25px 0">
        </div>
</div>
</main>
</div>



{% endblock %}
