{% extends "layoutCPS-NEW-CASEFILE-V2.html" %}
{% block header %}
    {% include "../includes/banner-V5.html" %}
{% endblock %}
{% block beforeContent %}
    {% include "../includes/modals/redaction-log.html" %}
    {% include "../includes/modals/redaction-history.html" %}
    {% include "../includes/modals/redaction-over.html" %}
    {% include "../includes/modals/report-a-problem.html" %}
    {% include "../includes/modals/search.html" %}
    {% include "../includes/modals/view-redactions.html" %}
    {% include "../includes/modals/feedback.html" %}
    {% include "../includes/modals/feedback-survey.html" %}
    {% include "../includes/modals/notes.html" %}
    {% include "../includes/modals/notes-new.html" %}
    {% include "../includes/modals/case-action-plan.html" %}
    {% include "../includes/modals/case-action-plan-2.html" %}
    {% include "../includes/modals/case-action-plan-builder.html" %}
    {% include "../includes/modals/confirmation.html" %}
    {% include "../includes/modals/redact-all.html" %}
    {% include "../includes/modals/discarded.html" %}
    {% include "../includes/modals/search-redaction.html" %}
    {% include "../includes/modals/search-suggestions.html" %}
    {% include "../includes/modals/document-history.html" %}
    {% include "../includes/modals/confirmation-Document.html" %}
    {% include "../includes/modals/confirmation-Suggested.html" %}
    {% include "../includes/modals/redaction-log-Dummy.html" %}
    {% include "../includes/modals/rename.html" %}
    {% include "../includes/modals/move-document.html" %}
    {% include "../includes/modals/move-multiple-documents.html" %}
    {% include "../includes/modals/confirmation-Reorder.html" %}
    {% include "../includes/modals/confirmation-Remove.html" %}
    {% include "../includes/modals/warning-Notes.html" %}
    {% include "../includes/modals/confirmation-Task.html" %}
    {% include "../includes/modals/email-document.html" %}
    {% include "../includes/modals/remove-and-rotate-pages.html" %}
    {% include "../includes/modals/confirmation-RemovePage.html" %}
    {% include "../includes/modals/triage.html" %}
    {% include "../includes/modals/redaction-log-REMOVE.html" %}
    {% include "../includes/modals/warning-Redaction.html" %}
    {% include "../includes/modals/warning-Rotate.html" %}
    {% include "../includes/modals/confirmation-Rotate.html" %}
{% endblock %}
{% block content %}


<link href="/public/stylesheets/filtering.css" media="screen" rel="stylesheet" type="text/css" />
<!-- remove if you get rid of the gov width container -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% include "../includes/new-script.html" %}

<script>

    $(".success-banner").hide();

    function showHideRedaction() {
        setTimeout(function () {
            redactionSummary()
        }, 0)
        setTimeout(function () {
            redactionSummary()
            $("#saving-panel").hide();
            $(".success-banner").show();
            $("#redaction-log-button").removeClass('govuk-button--disabled').removeAttr('aria-disabled');
            document.getElementById("redaction-log-button").disabled = false;
            // $("#redaction-log").show()
            // addRedactionLogRows()
        }, 5000)
        setTimeout(function () {
            $(".success-banner").slideUp();
        }, 10000)
        setTimeout(function () {
            $(".success-banner").slideUp();
        }, 15000)
    }

    function topFunction() {
        $("html, body").animate({ scrollTop: 0 }, {
            duration: 500,
            easing: "easeInOutExpo"
        });
    }

</script>

<!-- ///////// STATUS BAR - START ///////// -->
<div class="hods-status-message case-file-page">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="hods-status-message__status">
                    <!-- <h1 class="govuk-heading-s">Read only:</h1> -->
                    <span class="hods-status-message__extra">
                        <strong>Liam Davies</strong> and <strong>Michael Scott</strong> are also working on this case <!-- in <strong>CMS Classic</strong> -->
                    </span>
                    <span class="hods-status-message__extra">
                        Last active: <strong>5 minutes ago</strong>
                    </span>
                </div>
            </div>
            <!-- <div class="govuk-grid-column-one-quarter">
                <a class="hods-status-message__actions__link" href="#">Take over</a>
            </div> -->
        </div>
    </div>
</div>
<!-- ///////// STATUS BAR - END ///////// -->

<div class="search-bar-wrapper case-file-page with-status">
    <div class="govuk-width-container">
        <div class="govuk-phase-banner header new-V3">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-quarter">
                    <div id="searchFormTest" class="searchForm" method="get">
                        <label class="govuk-label--s govuk-label" for="searchURNModal" style="">Search case</label>
                        <div class="searchForm-inner">
                            <input class="govuk-input" id="searchURNModal" name="searchURNModal" type="text" aria-describedby="FirstName-hint" value="" placeholder="Search case..." />
                            <div class="bba"><button class="search searchModal modalButton" type="submit" id="openSearch" onClick="openModal(); searchTerm();"></button></div>
                        </div>
                    </div>
                </div>
                <div class="govuk-grid-column-three-quarters">

                    {% include "../includes/notifications.html" %}
                    {% include "../includes/tasks.html" %}
                    
                </div>
            </div>
        </div>
    </div>
</div>

<div class="govuk-grid-row">

    <!-- ////////////////////////////////////////////// STICKY BAR - PART 1 - START ////////////////////////////////////////////// -->
    <div class="govuk-grid-column-one-quarter" id="left-column-top">

        <div class="govuk-phase-banner header new-V2">

        </div>

        <div id="navbar" class="navbar">
            <div class="govuk-width-container">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-quarter">
                        <div class="case-info">
                            <h1 class="govuk-heading-m">McLove, Crilly, ...</h1>
                            <table class="govuk-table">
                                <tbody>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell govuk-body-s wrapLongFilenamesCPS openMe" scope="row">
                                            {% if data['searchURN'] %}
                                                <a href="" data-doc="defendants.pdf" data-count="3" onclick="return pageCounter()" data-page="1">{{ data['searchURN'] }}/2</a>
                                            {% else %}
                                                <a href="" data-doc="defendants.pdf" data-count="3" onclick="return pageCounter()" data-page="1">45AA209820/2</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

<!--                         <div class="cap-wrapper">
                            <button id="case-action-plan" class="govuk-button" data-module="govuk-button" type="button" onClick="openCaseActionBuilderModal()">
                                <span>Case action plan</span>
                            </button>
                        </div>
 -->                        
                        <div class="alert tooltip">
                            {% include "../includes/notifications-sticky.html" %}
                        </div>
                        <div id="searchFormTest2" class="searchForm" method="get">
                            <div class="search-button">Search case</div>
                            <label class="govuk-label--s govuk-label" for="searchURNModal2" style="">Search case</label>
                            <div class="searchForm-inner">
                                <input class="govuk-input" id="searchURNModal2" name="searchURNModal2" type="text" aria-describedby="FirstName-hint" value="" placeholder="" />
                                <div class="bba v2"><button class="search searchModal modalButton" type="submit" id="openSearch" onClick="openModal(); searchTerm2();">Search</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ////////////////////////////////////////////// STICKY BAR - PART 1 - END ////////////////////////////////////////////// -->

    <!-- ////////////////////////////////////////////// DOCUMENT COLUMN - START ////////////////////////////////////////////// -->
    <div class="govuk-grid-column-three-quarters document-holder" id="right-column">

        <div class="file1 weirdFix1400">

            <div class="govuk-tabs" data-module="govuk-tabs">
                <!-- ====== STICKY BAR - PART 2 - START ====== -->
                <div id="navbar2" class="">
                    <!-- <div class="page-counter"><p>Page: <span>1/<strong>2</strong></span></p></div> -->
                    <div class="govuk-width-container">
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-full">
                                {% include "../includes/banners/search-banner-tab-heading.html" %}
                                <ul class="govuk-tabs__list navbar sticky-tabs" id="tab-list">
                                    <li class="arrow left"><a href="#">tab left</a></li>
                                    <li class="arrow right"><a href="#">tab right</a></li>
                                    {% include "../includes/banners/search-banner-tab-scroll.html" %}
                                    <li class="arrow down"><a href="#">tab down</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ====== STICKY BAR - PART 2 - END ====== -->

                <div id="docCopy" class="docCopy">
                    <div class="loading">
<!--                         <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                            <div class="govuk-notification-banner__header">
                                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">Important</h2>
                            </div>
                            <div class="govuk-notification-banner__content">
                                <p class="govuk-notification-banner__heading">Search will not be available until all documents have finished being loaded.</p>
                            </div>
                        </div>                        
 -->                        
                        <div class="hods-loading-spinner">
                            <div class="hods-loading-spinner__spinner" aria-live="polite" role="status"></div>
                            <div class="hods-loading-spinner__content">
                                <h1 class="govuk-heading-m"><span id="documents-loaded-number">1</span> of 21 documents loaded...</h1>
                                <p class="failed-documents">Documents not possible to load: <span>"MG11 Geoff MCLOVE" (Statements)</span></p>
                            </div>
                        </div>                    
                    </div>
                    <div class="documents-loaded">
                        <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                            <div class="govuk-notification-banner__header">
                                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">Success - View your documents</h2>
                            </div>
                            <div class="govuk-notification-banner__content">
                                <p class="govuk-body"><strong>20</strong> documents loaded out of <strong>21</strong>, search or choose a file to start reviewing documents.</p>
                                <p class="no-margin-bottom">It was not possible to load the following documents, please check CMS:</p>
                                <ul class="govuk-list files">
                                    <li>"MG11 Geoff MCLOVE" <span>(Statements)</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <!-- ////////////////////////////////////////////// DOCUMENT COLUMN - END ////////////////////////////////////////////// -->

</div>

<div class="govuk-grid-row">
    {% include "../includes/documents/case-2.html" %}
</div>


{% endblock %}