// Notes pattern
#notesNew, #notes {
    .success-banner-notes, .saving-panel-notes, .success-banner-notes-NEW, .saving-panel-notes-NEW {
        margin-bottom: 0 !important;
    }
}

.notes-wrapper {
    margin-top: 1.5em;
    padding-left: 22px;
    position: relative;
    overflow: hidden;
    &:before {
        background-color: $govuk-link-colour;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        margin-top: 0.55em;
        padding-left: 0.3em;
        z-index: 1;
    }
    &:after {
        background-color: #1d70b8;
        content: "";
        padding-top: 0.3em;
        padding-right: 15px;
        left: 0;
        position: absolute;
        margin-top: 0.55em;
        z-index: 1;
        top: 0;
    }
    &.errors {
        &:before, &:after {
            background-color: $govuk-error-colour;
        }
    }
    button {
        margin-bottom: 2px !important;
        &.non-button {
            margin-left: 1em;
        }
    }
}

.hods-timeline {
    &.errors {
        &:before, &:after {
            background-color: $govuk-error-colour;
        }
        .hods-timeline__item {
            &:before, &:after {
                background-color: $govuk-error-colour;
            }
        }
    }
}

#notes-error, #newnotes-error {
    margin: 1.25em 0 0 0;
    h2 {
        margin: 0 0 0.25em 0 !important;
    }
    ul {
        li {
            margin-bottom: 0;
        }
    }
}

#notesNew, #notes {
    .govuk-details {
        display: inline-block;
        margin-bottom: 1.25em;
        .govuk-details__summary {
            font-size: 1.2rem;
        }
        .govuk-details__text {
            padding: 0;
            border-left: none;
            .govuk-form-group {
                padding-left: 0 !important;
                margin-right: 0 !important;
                width: 100%;
                &.last-checkbox {
                    margin-bottom: 0.5em;
                }
                &.conditonal-evidence {
                    padding-left: 15px !important;
                    border-left: 5px solid $govuk-border-colour;
                    margin-bottom: 0.5em;
                }
                &.conditonal-evidence, &.conditonal-MG11, &.conditonal-Exhibit {
                    display: none;
                    select {
                        margin-bottom: 0;
                    }
                }
                &:first-of-type {
                    margin-top: 0.5em;
                    .govuk-select {
                        margin-bottom: 0.5em;
                    }
                }
                &:last-of-type {
                    .govuk-select {
                        margin-bottom: 0;
                    }
                }
                .govuk-select {
                    margin-bottom: 1em;
                }
            }
        }
    }
}

.notes-text-content, .notes-new-text-content {
    strong {
        margin: 0 0 0 0;
        display: inline-block;
        float: left;
        clear: both !important;
        width: 100%;
        &.govuk-tag {
            color: #0c2d4a;
            background-color: #bbd4ea;
            font-weight: normal;
            &:first-of-type {
                margin: 0.75em 0 0 0 !important;
            }
            width: auto;
            margin: 0.5em 0 0 0 !important;
        }
    }
}

.newNotesContent, .notes-content {
    display: inline-block;
    width: 100%;
}

.hods-timeline {
    overflow: hidden;
    position: relative;
    padding-top: 2em;
    margin: 0 0 1.5em 0;
    &:before, &:after {
        background-color: $govuk-link-colour;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        margin-top: 0;
        padding-left: 0.3em;
        z-index: 1;
    } 
    &:after {
        top: 0;
    }
    .hods-timeline__item {
        padding-bottom: 10px;
        padding-left: 22px;
        position: relative;
        display: inline-block;
        &:last-of-type {
            padding-bottom: 0;
            display: inline-block;
            &:after {
                background-color: white;
                content: "";
                height: 100%;
                left: 0;
                top: 5px;
                position: absolute;
                margin-top: 8px;
                padding-left: 0.3em;
                z-index: 2;
            }
        }
        &:before {
            background-color: #1d70b8;
            content: "";
            padding-top: 0.3em;
            padding-right: 15px;
            left: 0;
            position: absolute;
            margin-top: 0.525em;
            z-index: 1;
        }
        &#note-loading, &#noteNew-loading {
            margin-bottom: 3em;
        }
        .hods-timeline__title {
            color: $govuk-text-colour;
            margin: 0 !important;
            font-size: 1.2rem;
            display: inline-block;
            float: left;
            line-height: 1.3;
            width: 100%;
        }
        .hods-timeline__by, .hods-timeline__date {
            color: $govuk-secondary-text-colour;
            font-size: 1rem;
            display: inline-block;
            float: left;
        }
        .hods-timeline__by {
            margin: 0 0 0 0.375em;
            line-height: 1.7;
        }
        .hods-timeline__date {
            clear: both;
            margin-bottom: 0.5em;
            // color: $govuk-secondary-text-colour;
            // font-size: 1rem;
        }
        .hods-timeline__description {
            display: inline-block;
            width: 100%;
            margin-top: 0;
            margin-bottom: 0.5em;
        }
        .govuk-tag {
            float: left;
            margin-bottom: 0.25em;
        }
        .existing-tags-wrapper, .tags-wrapper {
            display: inline-block;
            width: 100%;
            float: left;
            clear: both;
            .govuk-tag { 
                margin-right: 0.25em;
                color: #0c2d4a;
                background-color: #bbd4ea;
                font-weight: normal;
                &.notesNew-Evidential {
                    display: none;
                }
            }
        }
    }
}

hr {
    &.dotted {
        margin: 2em 0 0em 0;
        border-top: 5px dashed $govuk-border-colour;
    }
}
