.Tip__compact {
  font-family: "TransportNew", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 19px;
  cursor: pointer;
  background-color: #00703c;
  /*border: 1px solid rgba(255, 255, 255, 0.25);*/
  color: white;
  padding: 15px 20px;
  /*  border-radius: 10px;*/
  margin-bottom: -2px;
  margin-top: -10px;
}

.Tip__card {
  padding: 10px;
  z-index:7;
  background: #fff;
  background-clip: padding-box;
  border: 1px solid #e8e8e8;
  /* box-shadow: 0 2px 4px #fff; */
  border-radius: 5px;
  filter: drop-shadow(0 1px 0.15rem #000);
}

.Tip__btn-redact{
  border-radius: 5px;
  margin-top: -5px;
  padding: 5px 10px;
  font-size: 19px;
  background-color: #00703c;
  color: #fff;
  font-family: TransportNew,Arial,sans-serif;
  &:disabled{
      cursor: none;
      opacity: 0.5;
  }
}

.Tip__card textarea {
  font-size: 19px;
  width: 250px;
  height: 1200px;
}

.Tip__card input[type="submit"] {
  margin-top: 5px;
  font-size: large;
}

.Tip__compact:after {
  content: "";
  position: absolute;
  top: 100%;
  left: calc(50% - 10px);
  background: #00703c;
  width: 20px;
  height: 10px;

  /* The points are: (left top: x y, right top: x y, center bottom: x y) */
  clip-path: polygon(0 0, 100% 0, 50% 100%);
}

.Tip__compact-unredact {
  background-color: #00703c;
}
.Tip__compact-unredact:after {
  background-color: #00703c;
}
