// New document viewer

main.case-files {
    .file1 {
        .govuk-tabs__panel {
            .docSummaryTopPage, .searchedDocumentSummary {
                margin-top: -25px;
                padding: 0 !important;
                width: 100%;
                background: $govuk-link-colour;
                color: white;
                position: relative;
                z-index: 14;
                margin-top: -5px;
                .attachments {
                    background: govuk-colour("light-grey");
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                    color: $govuk-text-colour;
                    margin-top: 1em;
                    padding: 0.5em;
                    &.error {
                        border-left: 5px solid $govuk-error-colour;
                        p, .openMe {
                            font-style: italic;
                            color: $govuk-error-colour !important;
                        }
                    }
                    &.history {
                        color: white;
                        background: darken($govuk-link-colour,7.5%);
                        font-weight: bold;
                        margin-top: 0.5em;
                        padding: 1.15em 0.75em 1.15em 0.75em;
                        button {
                            margin: -0.35em 0 0 0;
                            background: white;
                            color: darken($govuk-link-colour,7.5%);
                            float: right;
                            padding: 5px 10px;
                        }
                    }
                    p, a {
                        margin: 0 !important;
                        font-size: 1rem;
                        display: inline;
                    }
                    p {
                        color: $govuk-secondary-text-colour !important;
                    }
                    a {
                        color: $govuk-link-colour !important;
                        &.document {
                            padding-left: 1.25em;
                            background: url("../images/attachments-grey.svg") no-repeat 0% 50%;
                            background-size: contain;
                            margin-left: 0.25em !important;
                            &:first-of-type {
                                margin-left: 0.5em;
                            }
                        }
                    }
                }
                p {
                    // color: rgba(255,255,255,0.7) !important;
                    color: white !important;
                    font-weight: bold;
                    max-width: 393px !important;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    &.divider {
                        color: rgba(255,255,255,0.4) !important;
                    }
                }
                a {
                     color: white !important;
                     font-weight: bold;
                }
                p, a {
                    margin: 20px 0 0 10px;
                    padding: 0;
                    line-height: 1;
                    display: inline-block;
                    width: auto;
                }
                #zoom-wrapper {
                    display: inline-block;
                    margin: 10px 0px 10px 10px;
                    float: right;
                    #zoomPercentage-V1, #zoomPercentage-V2 {
                        min-width: auto;
                        font-size: 1rem;
                        max-height: 1rem;
                        max-height: 2.45em;
                    }
                }
                .search-document-wrapper {
                    display: inline-block;
                    float: right;
                    position: relative;
                    .searchForm-inner-wrapper {
                        border-top: 3px solid $govuk-link-hover-colour;
                        display: none;
                        position: absolute;
                        top: 3em;
                        right: 0;
                        width: 20em;
                        box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
                        .bba {
                            position: absolute;
                            right: 0;
                            top: 0;
                            input {
                                margin-bottom: 0;
                            }
                            .search-document-button {
                                background: black;
                                border-radius: 0;
                                color: white;
                                font-size: 0.875rem;
                                font-weight: bold;
                                margin: 0;
                                width: auto;
                                height: 2.75em;
                                right: 0;
                                top: 0;
                                bottom: 0;
                                border: none;
                            }
                        }
                    }
                }
                .zoom, .marquee, .search-document {
                    display: inline-block;
                    float: right;
                    margin: 10px 0 10px 10px;
                    border: none;
                    border-radius: 5px;
                    position: relative;
                    // text-indent: -1000em;
                    width: 2.9em;
                    height: 2.9em;
                    span {
                        display: none;
                    }
                    &.active {
                        background-color: $govuk-link-hover-colour;
                        border-radius: 5px 5px 0 0;
                        &:hover, &:active, &:focus {
                            span {
                                display: none; 
                            }
                        }
                        span {
                            display: none;
                        }
                    }
                    &.zoomIn {
                        background: url("../images/zoom-in-white.svg") darken($govuk-link-colour,7.5%) no-repeat 50% 50%;
                        background-size: 1.5em;
                    }
                    &.zoomOut {
                        background: url("../images/zoom-out-white.svg") darken($govuk-link-colour,7.5%) no-repeat 50% 50%;
                        background-size: 1.5em;
                    }
                    &:hover, &:active, &:focus {
                        cursor: pointer;
                        span {
                            display: inline-block;
                            position: absolute;
                            background: rgba(0,0,0,0.7);
                            color: white;
                            padding: 0.5em;
                            border-radius: 5px;
                            width: 150px;
                            bottom: -2.5em;
                            left: 50%;
                            margin-left: -80px;
                            &:before {
                                content: ' ';
                                width: 0px;
                                height: 0px;
                                border-left: 8px solid transparent;
                                border-right: 8px solid transparent;
                                border-bottom: 8px solid rgba(0, 0, 0, 0.7);
                                position: absolute;
                                right: 50%;
                                margin-right: -6px;
                                top: -8px;
                                content: " ";
                            }
                        }
                        &.zoomIn {
                            background: url("../images/zoom-in-white.svg") $govuk-link-hover-colour no-repeat 50% 50%;
                            background-size: 1.5em;
                        }
                        &.zoomOut {
                            background: url("../images/zoom-out-white.svg") $govuk-link-hover-colour no-repeat 50% 50%;
                            background-size: 1.5em;
                        }
                    }
                }
                .marquee {
                    background: url("../images/marquee-white.svg") darken($govuk-link-colour,7.5%) no-repeat 50% 50%;
                    background-size: 1.5em;
                    &.on, &:hover, &:active, &:focus {
                        background: url("../images/marquee-white.svg") $govuk-link-hover-colour no-repeat 50% 50%;
                        background-size: 1.5em;
                        span {
                            width: 100px;
                            margin-left: -55px;
                        }
                    }
                }
                .search-document {
                    background: url("../images/search-button.png") darken($govuk-link-colour,7.5%) no-repeat 100% 50%;
                    background-size: cover;
                    &.on, &:hover, &:active, &:focus {
                        background: url("../images/search-button.png") $govuk-link-hover-colour no-repeat 100% 50%;
                        background-size: cover;
                        span {
                            width: 110px;
                            margin-left: -60px;
                        }
                    }
                }
                .dropdown {
                    position: relative;
                    display: inline-block;
                    float: right;
                    .dropbtn {
                        background: url("../images/arrow-down-white.svg") darken($govuk-link-colour,7.5%) no-repeat 95% 50%;
                        background-size: 1em;
                        margin: 10px;
                        font-weight: bold;
                        border-radius: 5px;
                        padding: 10px 33px 10px 10px;
                        color: white;
                        font-size: 1rem;
                        border: none;
                        cursor: pointer;
                        text-decoration: underline;
                        &.open {
                            background: url("../images/arrow-up-white.svg") $govuk-link-hover-colour no-repeat 95% 50%;
                            background-size: 1em;
                        }
                        &:hover, &:focus {
                            background-color: $govuk-link-hover-colour;
                            cursor: pointer;
                        }
                    }
                    #myDropdown1, .myDropdown2 {
                        &.dropdown-content {
                            display: none;
                            position: absolute;
                            top: 46px;
                            right: 11px;
                            border-top: 3px solid $govuk-link-hover-colour;
                            border-radius: 0 0 5px 5px;
                            background-color: white;
                            min-width: 300px;
                            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                            z-index: 1;
                            &.show {
                                display:block;
                            }
                            button {
                                text-align: right;
                                color: $govuk-text-colour !important;
                                padding: 10px;
                                text-decoration: underline;
                                display: block;
                                margin: 0;
                                font-weight: normal;
                                border: none;
                                background: none;
                                float: right;
                                width: 100%;
                                font-size: 1rem;
                                // font-size: 1rem;
                                // &:first-of-type {
                                //     padding-top: 15px;
                                // }
                                // &:last-of-type {
                                //     padding-bottom: 15px;
                                // }
                                &:hover, &:focus, &:active {
                                    background-color: #ddd;
                                    cursor: pointer;
                                }
                            }
                            hr {
                                margin: 0;
                            }
                        }
                    }
                }
            }
            .searchedDocumentSummary {  
                margin-bottom: -5px;
                .title {
                    display: inline-block;
                    p, a {
                        clear: both;
                    }
                }
                p, a {
                    float: left;
                    // clear: both;
                } 
                a {
                    font-weight: normal;
                    margin-top: 0.65em;
                }
                p {
                    margin-top: 0.25em;
                }
                .buttons {
                    float: right;
                    margin: 1em 0.5em 0 0;
                    p {
                        font-weight: normal;
                        &.looks-like-a-link-underline {
                            font-weight: bold;
                        }
                    }
                }
            }         
            .error-message, .updated-message, .discarded-message, .redaction-message, .suggested-redactions-panel, .email-message {
                display: none;
                background: govuk-colour("light-grey");
                padding: 0.65em 1em 1em 1em;
                border-left: 5px solid $govuk-error-colour;
                position: relative;
                z-index: 10;
                &.show {
                    display: block;
                }
                .govuk-warning-text {
                    margin: 0;
                    padding: 0.25em 0 0 0;
                    strong {
                        padding-left: 55px;
                    }
                    .govuk-warning-text__icon {
                        margin-top: 2px;
                        min-width: 42px;
                        min-height: 42px;
                        line-height: 35px;
                    }
                    p {
                        margin-left: 55px;
                        font-size: 0.875rem;
                        margin-bottom: 5px;
                    }
                }
                details {
                    margin-bottom: 0;
                    margin-left: 55px;
                    font-size: 0.875rem;
                    summary {
                        padding-left: 20px;
                    }
                }
            }
            .updated-message, .discarded-message {
                // display: block;
                padding: 1.5em 1em 1.5em 1em;
                .govuk-warning-text {
                    padding-top: 0;
                    .govuk-warning-text__icon {
                        margin-top: -9px;
                    }
                }
            }
            .updated-message {
                border:  5px solid $govuk-success-colour;
                // border-left: 5px solid govuk-colour("orange");
                padding: 0;
                h3 {
                    background: $govuk-success-colour;
                    color: white;
                    margin: 0;
                    padding: 0.25em 0.5em 0.5em 0.5em;
                }
                div {
                    padding: 1em;
                }
                &.sticky {
                    position: fixed;
                    top: 60px;
                    width: 68.675%;
                }
            }
            .redaction-message {
                border-left: none;
                display: inline-block;
                width: 96%;
                padding: 0.65em 2% 1em 2%;
                h2 {
                    margin: 0;
                }
                p {
                    margin: 0;
                    font-size: 0.875rem;
                    color: $govuk-secondary-text-colour;
                    strong {
                        color: $govuk-text-colour;
                    }
                }
            }
            .suggested-redactions-panel, .email-message {
                border-left: none;
                border-bottom: 5px solid $govuk-border-colour;
                h3 {
                    margin-bottom: 0.15em;
                }
                p {
                    margin: 0 0 0.25em 0;
                    font-size: 0.875rem;
                    color: $govuk-secondary-text-colour;
                    &:last-of-type {
                        margin-bottom: 0;
                    }
                    span {
                        font-weight: bold;
                        color: $govuk-link-colour;
                    }
                }
                span {

                }
            }
            .email-message { 
                // display: block !important;
                p {
                    span {
                        font-weight: normal;
                        color: $govuk-secondary-text-colour;
                    }
                }
                .govuk-details {
                    margin-left: 0;
                    p {
                        strong {
                            color: $govuk-text-colour;
                            font-weight: normal;
                        }
                    }
                }
            }
        }
    }
}

main.case-files {
    #docCopy, .docCopy {
        text-align: center;
        margin-top: 0.5em;
        &.old-verison {
            margin-top: 7.5em;
        }
        .govuk-notification-banner {
            text-align: left;
            width: 65%;
            display: inline-block;
        }
        .hods-loading-spinner {
            margin-top: 15em;
        }
        .documents-loaded {
            text-align: center;
            h2 {
                margin-bottom: 0;
            }
            .files {
                font-style: italic;
                color: $govuk-secondary-text-colour;
            }
            // .tech-issues {
            //     padding: 1em;
            //     border: 1px dashed $govuk-border-colour;
            //     background: govuk-colour("light-grey");
            //     margin-bottom: 1.5em;
            //     width: auto;
            //     display: inline-block;
            //     p {
            //         margin-bottom: 0;
            //     }
            // }
        }
    }
    // .file1 {
    //     #docCopy {
    //         margin-top: 15em;
    //     }
    // }
    // #searchHeaderDisplay {
    //     width: 100%;
    //     background: black;
    //     margin-top: -5px;
    //     background: $govuk-link-colour;
    //     padding: 5px;
    // }
    #pdf-root {
        position: relative;
        &.documentRedacted {
            .Highlight, .AreaHighlight {
                .Highlight__parts {
                    .Highlight__part {
                        background: black;
                        border: 2px solid black;
                    }
                }
                .AreaHighlight__part {
                    background: black;
                    border: 2px solid black;
                }
            }
        }
        #marqueeTool {
            position: absolute;
            left: 7em;
            right: 0;
            top: 12.5em;
            z-index: 10;
        }
        .PdfHighlighter {
            height: auto;
            padding: 1.5em 2% 1.25em 2%;
            border: 5px solid #b1b4b6;
            background: white;
            width: 94.85%;
            margin: -0.3em 0 10em 0;
            z-index: 1;
            background: govuk-colour("light-grey");
            &.documentSwap {
                padding: 0;
                cursor: pointer;
                width: 99%;
            }
            .page {
                width: 100% !important;
                margin: 0.75em 0;
                display: inline-block;
                box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
                &:first-of-type {
                    margin-top: 0;
                }
                &:last-of-type {
                    margin-bottom: 0;
                }
                .canvasWrapper {
                    width: 100% !important;
                    canvas {
                        width: 100% !important;
                    }
                }
                .textLayer {
                    width: 100% !important;
                }
                &.delete-this-page, &.rotate-this-page {
                    .delete-page-content, .rotate-page-content {
                        position: absolute;
                        display: flex;
                        vertical-align: middle;
                        align-items: center;
                        left: 0;
                        top: 0;
                        bottom: 0;
                        right: 0;
                        background: rgba(0,0,0,0.7);
                        z-index: 999;
                        .content {
                            width: 100%;
                            display: inline-block;
                            color: white;
                            text-align: center;
                            .wrapper {
                                display: inline-block;
                            }
                            .rotate-controls {
                                display: flex;
                                vertical-align: middle;
                                align-items: center;
                                button {
                                    box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
                                    background: govuk-colour("light-grey");
                                    color: $govuk-link-colour;
                                    text-decoration: underline;
                                    font-size: 1.2rem;
                                    border: none;
                                    display: flex;
                                    align-items: center;
                                    span {
                                        display: inline-block;
                                        width: 2em;
                                        height: 2em;
                                    }
                                    &.rotate-right {
                                        padding: 0 0 0 12px;
                                        margin-left: 1.5em;
                                        span {
                                            margin-left: 0.45em;
                                            background: url("../images/rotate-right-white.svg") $govuk-link-colour no-repeat 50% 50%;
                                            background-size: 1em;
                                        }
                                    }
                                    &.rotate-left {
                                        padding: 0 12px 0 0;
                                        margin-right: 1.5em;
                                        span {
                                            margin-right: 0.45em;
                                            background: url("../images/rotate-left-white.svg") $govuk-link-colour no-repeat 50% 50%;
                                            background-size: 1em;
                                        }
                                    }
                                }
                            }
                            .page-deleted, .page-rotated {
                                display: inline-block;
                                width: 8em;
                                height: 6em;
                                margin-bottom: 0;
                                text-shadow: 0px 0px 20px rgba(0,0,0,0.5);
                            }
                            .page-deleted {
                                background: url("../images/trash-white.svg") no-repeat 50% 50%;
                                background-size: contain;
                            }
                            .page-rotated {
                                height: 8em;
                                background: url("../images/document-white.svg") no-repeat 50% 50%;
                                background-size: contain;
                            }
                            h2, p {
                                text-shadow: 0px 0px 20px rgba(0,0,0,0.5);
                            }
                            h2 {
                                color: white;
                                margin: 0.25em 0 0.25em 0;
                                font-weight: normal;
                            }
                            p {
                                font-weight: bold;
                                color: rgba(255,255,255,0.7);
                                strong {
                                    color: white;
                                }
                            }
                            button {
                                color: white;
                            }
                        }
                    }
                    // .textLayer {
                    //     // background: black;
                    // }
                }
            }
        }
    }
}

#changeDocument {
    img {
        width: 100%;
    }
}

.loading {
    display: inline-block;
    width: 100%;
    .hods-loading-spinner__spinner {
        border: 7px solid #dee0e2;
        border-radius: 50%;
        border-top-color: #1d70b8;
        width: 4.875em;
        height: 4.875em;
        margin: -0.125em 0.5em 0 0;
        animation: hods-loading-spinner-animation 0.5s linear infinite;
        display: inline-block;
        float: none;
        clear: both;
        margin-bottom: 1em;
    }
    .hods-loading-spinner__content {
        float: left;
        clear: both;
        display: inline-block;
        width: 100%;
        p {
            span {
                font-style: italic;
                color: $govuk-secondary-text-colour;
            }
        }
    }
} 

.document-holder {
    position: relative;
    .file1 {
        position: absolute;
        left: 15px;
        top: 0;
        right: 15px;
    }
}


.document-panel {
    position: relative;
}

.page-counter {
    &.sticky {
        top: 6em;
    }
    &.show {
        display: flex;
    }
    &.new {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1000;
        display: inline-block;
        border-radius: 0;
        padding: 0;
        box-shadow: 0 0 10px 0px rgba(0,0,0,0.5);
        background: white;
        p {
            padding: 10px;
            background: $govuk-link-colour;
            display: inline-block;
            width: auto;
            float: left;
        }
        button, a {
            float: right;
            background: white;
            padding: 12px 10px 8px 10px;
            color: $govuk-link-colour;
            border: none;
            font-size: 1rem;
            text-decoration: underline;
            .icon {
                padding: 0;
                border-radius: 3px;
                border: 1px solid  $govuk-border-colour;
                margin: -0.075em 0.5em 0 0;
                float: left;
                width: 1.25em;
                height: 1.25em;
                &.delete {
                    background: url("../images/trash-grey.svg") govuk-colour("light-grey") no-repeat 50% 50%;
                    background-size: 0.625em;
                }
                &.rotate {
                    background: url("../images/rotate-right-grey.svg") govuk-colour("light-grey") no-repeat 50% 50%;
                    background-size: 0.625em;
                }
            }
            &:hover, &:active, &:focus {
                cursor: pointer;
            }
        }
    }
    position: fixed;
    top: 22em;
    // width: 2em;
    padding: 15px;
    border-radius: 6px 0 0 6px;
    right: 0;
    // height: 3em;
    display: none;
    justify-content: center;
    vertical-align: middle;
    z-index: 14;
    background: $govuk-link-colour; 
    font-weight: normal;
    p {
        margin: 0;
        font-size: 1rem;
        color: rgba(white, 0.6);
        span {
            font-weight: bold;
            color: white;
        }
    }
}

.delete-page-action {
    position: absolute;
    z-index: 999999;
    top: 10px;
    right: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    border-radius: 6px;
    padding: 1em;
    background: white;
    display: inline-block;
    .govuk-form-group {
        display: inline-block;
        float: left;
        margin: 0;
        label {
            display: none;
        }
        select {
            margin: 0 0.75em 0 0;
            float: left;
        }
    }
    button {
        margin: 0;
        &.non-button {
            margin: 0.5em 0 0 1em;
            float: right;
        }
    }
}


#right-column {
    // transition: all 0.3s linear;
    // transform: translate3d(0,0,-25px);
    width: 75%;
    &.show-menu {
        // transition: all 0.3s linear;
        // transform: translate3d(-25px,0,0);      
        width: 100%;
        .govuk-width-container {
            margin: 0;
        }
    }
}

#pdf-root {
    position: relative;
    .redaction-footer {
        // padding-left: 5px;
        // width: 100% !important;
        left: 28.25%;
        right: 0;
        border-top: none;
        box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.4);
        background: white;
        // background: govuk-colour("light-grey");
        .govuk-button--secondary {
            margin-right: 0;
        }
        &.delete-page-footer, &.rotate-page-footer {
            left: 26.7%;
            right: 2.35% !important;
        }
    }
    &.zoom {
        overflow: scroll;
        height: 73.75vh !important;
    }
}

.PdfHighlighter__tip-container {
    .Tip {
        #redact-modal {
            display: inline-block;
            background: white;
            border: none;
            box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.2);
            padding: 0 10px 10px 10px;
            &:after {
                width: 0; 
                height: 0; 
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
                border-top: 15px solid white;
                position: absolute;
                // width: 0.5em;
                // height: 0.5em;
                left: 50%;
                margin-left: -10px;
                bottom: -15px;
                // background: $govuk-link-colour;
                content: ' ';
            }
            .bulk-redactions {
                margin: 0px -10px 10px -10px;
                padding: 7px 0 7px 0;
                background: $govuk-link-colour;
                // background: govuk-colour("light-grey");
                border-radius: 6px 6px 0 0;
                p.intro {
                    font-size: 0.875rem;
                    color: white;
                    // color: $govuk-secondary-text-colour;
                    font-style: italic;
                    margin-bottom: 0;
                    text-align: center;
                }
            }
            .govuk-form-group {
                margin: 0;
                float: left;
                display: inline-block;
                label {
                    // text-indent: -1000em;
                    display: none;
                }
                &.bulk-redactions {
                    width: 100%;
                    float: right;
                    clear: both;
                    margin-top: 0.75em;
                    padding-top: 0.15em;
                    border-top: 1px dashed $govuk-border-colour;
                    padding-bottom: 0.25em;
                    label {
                        display: inline-block;
                        color: $govuk-secondary-text-colour;
                        font-size: 1rem;
                        margin-top: 0.65em;
                    }
                    .govuk-checkboxes__item {
                        label {
                            color: $govuk-text-colour;
                            margin-top: 0;
                        }
                    }
                    .govuk-checkboxes--small {
                        display: inline-block;
                        float: right;
                        .govuk-checkboxes__item:hover .govuk-checkboxes__input:not(:disabled) + .govuk-checkboxes__label:before {
                            box-shadow: 0 0 0 5px #b1b4b6;
                        }
                        .govuk-checkboxes__item {
                            float: left;
                            clear: none;
                            &:last-of-type {
                                label {
                                    padding-right: 0;
                                }
                            }
                        }
                    }
                }
            }
            button {
                display: inline-block;
                margin: 0 0 0 0.25em;
                border: none;
                // border-radius: 0 5px 5px 0;
                font-weight: normal;
                min-height: 2em;
                font-size: 1rem;
                border-radius: 6px;
                box-shadow: 0 2px 0 rgba(black,0.7);
                &.Tip__btn-ignore, &.Tip__btn-redact {
                    padding: 0.7em 1em;
                    margin-left: 0.5em;
                }
                &.Tip__btn-ignore {
                    float: right;
                }
                &.Tip__btn-redact {
                    float: left;
                }
            }
        }
    }
}


.redaction-footer {
    position: fixed;
    bottom: 0;
    background: white;
    border-top: 5px solid #b1b4b6; 
    height: 4rem;
    color: black;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 999;
    span {
        margin: 8px 0 0 0px;
        font-size: 19px;
    }
    button {
        /*  height: 2rem;*/
        /* margin: 5px;*/
        margin: 7px 15px 0 20px;
    }
    .removeRedactions {
        margin-right: auto !important;
        margin-left: 15px !important;
    }
    .viewRedactions {
        margin-left: 0.25em;
    }
}


// PDF Redactions

.Highlight, .AreaHighlight {
    .Highlight__parts {
        .Highlight__part {
            background: rgba(black, 0.2);
            border: 2px solid black;
        }
    }
    .AreaHighlight__part {
        background: rgba(black, 0.2);
        border: 2px solid black;
    }
}

#pdf-root {
    .annotationLayer {
        section {
            .popupWrapper {
                .popup {
                    display: none;
                }
            }
        }
        .caretAnnotation { 
            svg ellipse {

            }
        }
        .fileAttachmentAnnotation {

        }
        .freeTextAnnotation {

        }
        .highlightAnnotation {
            background: rgba(red,0.2);
            border: 2px dashed red;
        }
        .inkAnnotation svg polyline {

        }

        .lineAnnotation svg line {

        }
        .polygonAnnotation svg polygon {

        }
        .polylineAnnotation svg polyline {

        }
        .squareAnnotation svg rect {

        }
        .squigglyAnnotation {

        }
        .stampAnnotation {
            
        }
        .strikeoutAnnotation {

        }
        .underlineAnnotation {

        }
    }
}





