.autocomplete-suggestions {
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(black,0.2);
    overflow-y: scroll;
    min-width: 445px !important;
    .autocomplete-suggestion {
        padding: 0.45em;
        color: $govuk-text-colour;
        border-bottom: 1px dashed $govuk-border-colour;
        &:hover, &:active, &:focus {
            cursor: pointer;
            background-color: $govuk-link-colour;
            color: white;
            strong {
                color: white;
            }
        }
        strong {
            color: $govuk-link-colour;
        }
    }
}
