{% extends "layoutCPS-NEW-INDEX.html" %}
{% block header %}
    {% include "../includes/banner-V1.html" %}
{% endblock %}
{% block beforeContent %}

{% endblock %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <h1 class="govuk-heading-l govuk-!-margin-top-8">Sorry, the service is unavailable</h1>
        <p class="govuk-body">
            The service is down for maintenance, you will be unable to use the service between 7am-9am on Monday 15 April 2024.
        </p>
<!--         <p class="govuk-body">
            <a class="govuk-link" href="#">Contact the Casework App team</a> if you need to speak to someone about the service.
        </p>
 -->        <p><br></p>
    </div>
</div>

{% endblock %}