{% extends "layoutCPS-NEW-CASEFILE.html" %}
{% block header %}
{% include "../includes/banner-V7.html" %}
{% include "../includes/modals/rename.html" %}
{% include "../includes/modals/feedback.html" %}
{% include "../includes/modals/report-a-problem.html" %}
{% include "../includes/modals/search.html" %}
{% include "../includes/modals/notes-new.html" %}
{% include "../includes/modals/notes.html" %}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<script src="/public/javascripts/sorttable.js"></script>

<!-- /////////////////// SUCCESS BANNER- START /////////////////// -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">

        <!-- AUTO RECLASSIFY -->
        <div class="govuk-notification-banner govuk-!-margin-bottom-4" role="alert"
            aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner"
            id="auto_reclassify">
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title">Important</h2>
            </div>
            <div class="govuk-notification-banner__content">
                <h3 class="govuk-notification-banner__heading">No materials were identified for reclassification</h3>
            </div>
        </div>


        <!-- READ / UNREAD -->
        <div class="govuk-notification-banner govuk-notification-banner--success govuk-!-margin-bottom-4" role="alert"
            aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner" id="mark_as">
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title">Mark as read successful</h2>
            </div>
            <div class="govuk-notification-banner__content">
                <h3 class="govuk-notification-banner__heading"><span class="document_title"></span> has been marked as
                    <span class="status">read</span>
                </h3>
            </div>
        </div>

        <!-- RENAMED -->
        <div class="govuk-notification-banner govuk-notification-banner--success govuk-!-margin-bottom-4" role="alert"
            aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner"
            id="rename_COMPLETE">
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title">Renaming successful</h2>
            </div>
            <div class="govuk-notification-banner__content">
                <h3 class="govuk-notification-banner__heading">Material successfully renamed.</h3>
            </div>
        </div>

        <!-- DICARD -->
        {% if data['discarding_material_COMPLETED'] == 'true' %}
        <div class="govuk-notification-banner govuk-notification-banner--success govuk-!-margin-bottom-4" role="alert"
            aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner"
            id="discard_successful">
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title">Discard successful</h2>
            </div>
            <div class="govuk-notification-banner__content">
                <h3 class="govuk-notification-banner__heading">{{ data['material_selected'] }} has been discarded.</h3>
            </div>
        </div>
        {% else %}

        {% endif %}

    </div>
</div>

<!-- /////////////////// SUCCESS BANNER- END /////////////////// -->

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <h1 class="govuk-heading-m govuk-!-margin-bottom-0">SIMPSON, Homer +1</h1>
        <span class="govuk-caption-m govuk-!-margin-bottom-2">16XL9132025</span>
    </div>
    <div class="govuk-grid-column-two-thirds">
        <div class="taskOverViewContent">
            <!-- <a href="">Guidance</a> -->
            <!-- <a href="">Further housekeeping</a> -->
            <button type="button"
                class="govuk-button govuk-button--secondary auto_reclassify_Documents govuk-!-margin-bottom-2">Auto
                reclassify
                UM</button>
            {% if data['tab'] != '5' %}
            <button type="submit" class="govuk-button govuk-!-margin-bottom-2">Complete triage</button>
            {% endif %}
        </div>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-tabs">
            <h2 class="govuk-tabs__title">Contents</h2>

            <ul class="" id="new-tabs">
                {% if data['discarding_material_COMPLETED'] == 'true' %}
                <li class="tab-1-content_link"><a class="tab-link tab-1-content">PCD request</a></li>
                <li class="tab-2-content_link govuk-tabs__list-item--selected"><a
                        class="tab-link tab-2-content">Materials (20)</a></li>
                {% else %}
                <li class="tab-1-content_link govuk-tabs__list-item--selected"><a class="tab-link tab-1-content">PCD
                        request</a></li>
                <li class="tab-2-content_link"><a class="tab-link tab-2-content">Materials list (20)</a></li>
                {% endif %}
                <li class="tab-3-content_link"><a class="tab-link tab-3-content">View materials (<span
                            class="redacted_documents">0</span>)</a></li>
                <li class="tab-4-content_link"><a class="tab-link tab-4-content">Communications (3)</a></li>
                <li class="tab-5-content_link"><a class="tab-link tab-5-content">PCD review</a></li>
            </ul>

            <!-- TAB CONTENT - 1 - START -->
            {% if data['discarding_material_COMPLETED'] == 'true' %}
            <div class="panel" id="tab_content_1" style="display: none;">
                {% else %}
                <div class="panel" id="tab_content_1">
                    {% endif %}
                    {% include "../includes/housekeeping/tab-1-PCD-request.html" %}
                </div>
                <!-- TAB CONTENT - 1 - END -->

                <!-- TAB CONTENT - 2 - START -->
                {% if data['discarding_material_COMPLETED'] == 'true' %}
                <div class="panel" id="tab_content_2">
                    {% else %}
                    <div class="panel" id="tab_content_2" style="display: none;">
                        {% endif %}
                        {% include "../includes/housekeeping/tab-2-Materials.html" %}
                    </div>
                    <!-- TAB CONTENT - 2 - END -->

                    <!-- TAB CONTENT - 3 - START -->
                    <div class="panel" id="tab_content_3" style="display: none;">
                        {% include "../includes/housekeeping/tab-3-Review-Materials.html" %}
                    </div>
                    <!-- TAB CONTENT - 3 - END -->

                    <!-- TAB CONTENT - 4 - START -->
                    <div class="panel" id="tab_content_4" style="display: none;">
                        {% include "../includes/housekeeping/tab-4-Comms.html" %}
                    </div>
                    <!-- TAB CONTENT - 4 - END -->

                    <!-- TAB CONTENT - 5 - START -->
                    <div class="panel" id="tab_content_5" style="display: none;">
                        {% include "../includes/housekeeping/tab-5-PCD-review.html" %}
                    </div>
                    <!-- TAB CONTENT - 5 - END -->

                </div>
            </div>
        </div>
        {% endblock %}