{% extends "layoutCPS-NEW-INDEX.html" %}
{% block header %}
    {% include "../includes/banner-V5.html" %}
{% endblock %}
{% block beforeContent %}

{% endblock %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <a href="javascript:history.back()" class="govuk-back-link no-margin-top no-margin-bottom">Back</a>
        <div class="wrapper gov-pages">
            <h1 class="govuk-heading-l" style="">
                Enter the exhibit details
            </h1>
            <div id="changeCategory-hint" class="govuk-hint">
                <p class="govuk-body">You're entering exhibit details for <mark class="hods-highlight"><strong>Exhibit - 1</strong></mark></p>
            </div>

            <form method="get" action="F-check-answers">            
                <fieldset>
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="documentExhibit-Name">Item name</label>
                        {% if data['documentExhibit-Name'] %}
                            <input class="govuk-input govuk-!-width-one-half" id="documentExhibit-Name" name="documentExhibit-Name" type="text" value="{{ data['documentExhibit-Name'] }}">
                        {% else %}
                            <input class="govuk-input govuk-!-width-one-half" id="documentExhibit-Name" name="documentExhibit-Name" type="text" value="Exhibit - 1">
                        {% endif %}
                    </div> 
                    
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="documentExhibit-Reference">Exhibit reference</label>
                        {% if data['documentExhibit-Reference'] %}
                            <input class="govuk-input govuk-!-width-one-half" id="documentExhibit-Reference" name="documentExhibit-Reference" type="text" value="{{ data['documentExhibit-Reference'] }}">
                        {% else %}
                            <input class="govuk-input govuk-!-width-one-half" id="documentExhibit-Reference" name="documentExhibit-Reference" type="text">
                        {% endif %}
                    </div> 

                    <div class="govuk-form-group">
                        <label class="govuk-label" for="documentExhibit-Witness">Select existing producer or witness</label>
                        <select class="govuk-select" id="documentExhibit-Witness" name="documentExhibit-Witness" aria-describedby="documentExhibit-Witness" onclick="" onchange="other1(event)">
                            {% if data['documentExhibit-Witness'] == 'PC Blaynee' and data['answers-complete'] == 'true' %}
                                <option disabled>Select existing producer or witness</option>
                                <option value="PC Blaynee" selected>PC Blaynee</option>
                                <option value="PC Jones">PC Jones</option>
                                <option value="Lucy Doyle">Lucy Doyle</option>
                                <option value="Shelagh Mclove">Shelagh Mclove</option>
                                <option value="Geoff McLove">Geoff McLove</option>
                                <option disabled>Or</option>
                                <option value="Other">Other producer or witness</option>
                            {% elseif data['documentExhibit-Witness'] == 'PC Jones' and data['answers-complete'] == 'true' %}
                                <option disabled>Select existing producer or witness</option>
                                <option value="PC Blaynee">PC Blaynee</option>
                                <option value="PC Jones" selected>PC Jones</option>
                                <option value="Lucy Doyle">Lucy Doyle</option>
                                <option value="Shelagh Mclove">Shelagh Mclove</option>
                                <option value="Geoff McLove">Geoff McLove</option>
                                <option disabled>Or</option>
                                <option value="Other">Other producer or witness</option>
                            {% elseif data['documentExhibit-Witness'] == 'Lucy Doyle' and data['answers-complete'] == 'true' %}
                                <option disabled>Select existing producer or witness</option>
                                <option value="PC Blaynee">PC Blaynee</option>
                                <option value="PC Jones">PC Jones</option>
                                <option value="Lucy Doyle" selected>Lucy Doyle</option>
                                <option value="Shelagh Mclove">Shelagh Mclove</option>
                                <option value="Geoff McLove">Geoff McLove</option>
                                <option disabled>Or</option>
                                <option value="Other">Other producer or witness</option>
                            {% elseif data['documentExhibit-Witness'] == 'Shelagh Mclove' and data['answers-complete'] == 'true' %}
                                <option disabled>Select existing producer or witness</option>
                                <option value="PC Blaynee">PC Blaynee</option>
                                <option value="PC Jones">PC Jones</option>
                                <option value="Lucy Doyle">Lucy Doyle</option>
                                <option value="Shelagh Mclove" selected>Shelagh Mclove</option>
                                <option value="Geoff McLove">Geoff McLove</option>
                                <option disabled>Or</option>
                                <option value="Other">Other producer or witness</option>
                            {% elseif data['documentExhibit-Witness'] == 'Geoff McLove' and data['answers-complete'] == 'true' %}
                                <option disabled>Select existing producer or witness</option>
                                <option value="PC Blaynee">PC Blaynee</option>
                                <option value="PC Jones">PC Jones</option>
                                <option value="Lucy Doyle">Lucy Doyle</option>
                                <option value="Shelagh Mclove">Shelagh Mclove</option>
                                <option value="Geoff McLove" selected>Geoff McLove</option>
                                <option disabled>Or</option>
                                <option value="Other">Other producer or witness</option>
                            {% elseif data['documentExhibit-Witness'] == 'Other' and data['answers-complete'] == 'true' %}
                                <option disabled>Select existing producer or witness</option>
                                <option value="PC Blaynee">PC Blaynee</option>
                                <option value="PC Jones">PC Jones</option>
                                <option value="Lucy Doyle">Lucy Doyle</option>
                                <option value="Shelagh Mclove">Shelagh Mclove</option>
                                <option value="Geoff McLove">Geoff McLove</option>
                                <option disabled>Or</option>
                                <option value="Other" selected>Other producer or witness</option>
                            {% else %}
                                <option disabled selected>Select existing producer or witness</option>
                                <option value="PC Blaynee">PC Blaynee</option>
                                <option value="PC Jones">PC Jones</option>
                                <option value="Lucy Doyle">Lucy Doyle</option>
                                <option value="Shelagh Mclove">Shelagh Mclove</option>
                                <option value="Geoff McLove">Geoff McLove</option>
                                <option disabled>Or</option>
                                <option value="Other" data-aria-controls="conditional-Exhibits">Other producer or witness</option>
                            {% endif %}
                        </select>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-Exhibits">
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="documentExhibit-Witness-Other-Name"><span class="govuk-hint">Enter name</span></label>
                                {% if data['documentExhibit-Witness-Other-Name'] and data['answers-complete'] == 'true' %}
                                    <input class="govuk-input govuk-!-width-one-half" id="documentExhibit-Witness-Other-Name" name="documentExhibit-Witness-Other-Name" type="text" value="{{ data['documentExhibit-Witness-Other-Name'] }}">
                                {% else %}
                                    <input class="govuk-input govuk-!-width-one-half" id="documentExhibit-Witness-Other-Name" name="documentExhibit-Witness-Other-Name" type="text">
                                {% endif %}
                            </div>
                        </div>                            
                    </div>


                    {% if data['documentType'] == 'Asset recovery' or data['documentType'] == 'Asset recovery 3rd Party' or data['documentType'] == 'Complaint' or data['documentType'] == 'Correspondence' or data['documentType'] == 'Counsel Case Acknowledgement' or data['documentType'] == 'Defence Statement' or data['documentType'] == 'MG6C' or data['documentType'] == 'MG6D' or data['documentType'] == 'MG6E' or data['documentType'] == 'Other Communication' or data['documentType'] == 'PCN3' or data['documentType'] == 'SDC' or data['documentType'] == 'Service of ABE' %}

                    {% else %}
                        <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset">
                                <legend class="govuk-fieldset__legend">What is the document status?</legend>
                                <div class="govuk-radios" data-module="govuk-radios">
                                    <div class="govuk-radios__item">
                                        {% if data['docType-document-status'] == 'Used' and data['answers-complete'] == 'true' %}
                                            <input class="govuk-radios__input" id="docType-document-status-Evidential" name="docType-document-status" type="radio" value="Used">
                                        {% else %}
                                            <input class="govuk-radios__input" id="docType-document-status-Evidential" name="docType-document-status" type="radio" value="Used" checked>
                                        {% endif %}
                                        <label class="govuk-label govuk-radios__label" for="docType-document-status-Evidential">Used</label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        {% if data['docType-document-status'] == 'Unused' and data['answers-complete'] == 'true' %}
                                            <input class="govuk-radios__input" id="docType-document-status-Unused" name="docType-document-status" type="radio" value="Unused" checked>
                                        {% else %}
                                            <input class="govuk-radios__input" id="docType-document-status-Unused" name="docType-document-status" type="radio" value="Unused">
                                        {% endif %}
                                        <label class="govuk-label govuk-radios__label" for="docType-document-status-Unused">Unused</label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    {% endif %}

                </fieldset>
                <button type="submit" class="govuk-button" style="">Continue</button>
                <input id="answers-complete" name="answers-complete" type="text" value="true" class="visuallyhidden">
                <button type="button" onclick="location.href='../1-new-designs/C-casefile-1.html';" class="non-button margin-left" id="cancelPageLoad">Cancel</button>
            </form>
        </div>
    </div>
    <div class="govuk-grid-column-one-half">
        <div class="image-holder">
            {% if data['scenario'] == 'one' %}
                <img src="../../../public/files/Asset-Rec-PREVIEW.png" alt="Asset Rec - 1 - Preview" class="">
            {% elseif data['scenario'] == 'two' %}
                <img src="../../../public/files/MG11_1-PREVIEW.png" alt="MG11 - 1 - Preview" class="">
            {% elseif data['scenario'] == 'three' %}
                <img src="../../../public/files/MG12_1-PREVIEW.png" alt="Exhibit - 1 - Preview" class="">
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}