<!--[if lte IE 8]><link href="/public/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if gt IE 8]><!--><link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" /><!--<![endif]-->
<!-- Javascript -->
 <script src="/public/javascripts/jquery-3.3.1.min.js"></script>
 <script src="/public/javascripts/jquery-migrate-1.4.1.min.js"></script>
<!-- <script src="/node_modules/govuk-frontend/all.js"></script> -->
<script src="/public/javascripts/application.js"></script>
<script src="/public/javascripts/jquery.tabs.js"></script>
 <!-- <script src="/public/javascripts/greedyNav.js"></script> -->
 <!-- <script src="/public/javascripts/cookie.js"></script> -->
 <script>
console.log("the prototype can't find the all.js from GET https://das-nonlevy-prototype.herokuapp.com/node_modules/govuk-frontend/all.js so its in /public/javascripts/all.js - remember to replace this in includes/head.html if it changes")

 </script>
 <!-- this is a hack as the prototype can't find the all.js from GET https://das-nonlevy-prototype.herokuapp.com/node_modules/govuk-frontend/all.js  -->
<script src="/public/javascripts/all.js"></script>


<!-- I use this to check fonts are changing as it is quite weird -->
<!-- <link href="https://fonts.googleapis.com/css?family=Gamja+Flower" rel="stylesheet"> -->

{% if useAutoStoreData %}
  <script src="/public/javascripts/auto-store-data.js"></script>
{% endif %}

  <script src="https://kit.fontawesome.com/77eaa1d1d0.js" crossorigin="anonymous"></script>

 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/v4-shims.css">
 