 <style>

 .govuk-template {
  background-color: #fff !important;

 }

 .govuk-main-wrapper {
padding-top: 10px !important;
background-color: #fff;
/* Below is to fix the page except for the scrolling colums. remove if not working */
/*  position: fixed;*/
  max-width: 1400px;
  margin-right: 25px;
  width: 95.5%;

 }

 .govuk-width-container {
  margin-right: auto ;
  margin-left: auto ;
  max-width: 1400px ;
 }

  @media (max-width: 1450px) {
 .govuk-width-container {
  margin-right: 25px ;
  margin-left: 25px ;
  max-width: 100% ;
 }
 }

  @media (max-width: 641px) {
 .govuk-width-container {
  margin-right: 10px ;
  margin-left: 10px ;
  max-width: 100% ;
 }
 }

 footer {
  display: none;
 }

.govuk-footer__copyright-logo {
  display: none;
}


@media (min-width: 48.0625em) {
.govuk-header__logo {
  width: 50% !important;
}
}

  @media (max-width: 641px) {
.govuk-header__logotype-text {
  font-size: 22px;
}
 }


</style>